.sidenav-container {
  height: 100%;
  inset: 4px;
  background-color: #dcdbdb;
}

.sidenav {
  width: 300px;

  border-radius: 0;

  padding: 0 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
